* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

:root {
  --cover: #dbdbdb;
  --main-color: #264653;
  --main-color2: #2a9d8f;
  --text-color: #e9c46a;
  --text-color2: #f4a261;
  --warning: #e76f51;
}

.header {
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 10rem;
}

.header > .title {
  color: var(--text-color2);
  font-size: 30px;
  font-weight: 700;
}

.header > .total-cart {
  font-size: 24px;
  padding-right: 100px;
  color: var(--text-color);
}

.header > .total-cart > .total-cart-item {
  margin-left: 10px;
}
